@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html{
    font-size: 16px;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: #181C24;
    color: white;
    align-items: center;
}

.contenedorIzq{
    position: relative;
    background-image: url("images/fondo.jpg");
    height: 100vh;
    width: 35vw;
    min-width: 350px;
    background-size: cover;
}


.contenedorLogo{
    position: absolute;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 20vh;
}

#logo{
    width: 8rem;
    height: auto;
}

#creditos{
    position: absolute;
    color: white;
    top: 95vh;
    opacity: 0.6;
    width: 100%;
    text-align: center;
}

a, a:visited{
    color: white;
}

.contenedorDer{
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 100vp;
    min-width: 550px;
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 20px;
}

h1{
    font-size: 2rem;
    font-weight: bold;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
}

.form{
    width: 100%;
    color: rgba(200,200,200,200);
    background-color: #10131B;
    box-shadow: 0px 2px 2px 1px  rgba(100, 113, 126, 0.1);
    margin: 0 -5vw 0 -5vw;
    padding: 5vh 5vw 5vh 5vw;
}

legend{
    font-size: 1.4rem;
    padding-bottom: 20px;
}

label{  
    font-size: 1rem;
}

input {
    width: 20vw;
    height: 30px;
    min-width: 250px;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    border-width: 1px;
}

input:focus{
    background-color: #181C24;
    border-color: lightblue;
    border-width: 1px;
    outline: none;
}

/*
input:not(:placeholder-shown).invalid,
input:not(:placeholder-shown):invalid{
    border-color:red;
}
*/

input:valid{
    border-color: lightgreen;
}

p.advertencia:empty{
    display: none;
}

p.advertencia{
    font-size: 0.9rem;
    color: turquoise;
    opacity: 0.8;
    padding-top: 0.1rem;
    margin-bottom: -1rem;
    text-align: right;
}

.row{
    display: flex;
    gap: 20px;
    margin-bottom: 1rem;
}

.campo{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

button {
    border-width: 0;
    width: 15rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #2B3440;
    border-radius: 5px;
    color: white;
}

button:hover{
    background-color: #10131B;
}
